<% layout('/layouts/boilerplate.ejs') -%>

    <br><br>
    <div class="row ">
        <div class="col-8 offset-2 ">
            <h3>Edit your Listing</h3>
            <form method="POST" action="/listings/<%=listing._id%>?_method=PUT" novalidate class="needs-validation"
                 enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="listing[title]"
                        value="<%=listing.title%>"
                        class="form-control" 
                        type="text"
                        required>
                    <div class="valid-feedback">Title looks good!</div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" 
                        class="form-control" 
                        required
                    ><%=listing.description%></textarea>
                    <div class="invalid-feedback">Enter short description</div>

                </div>

                <div class="mb-3">
                    Original Listing image: <br>
                   <img src="<%=originalImageUrl%>"/>
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Upload New Image </label>
                    <input name="listing[image]"
                        class="form-control"
                        type="file"
                        >
                </div>

                <div class="mb-3">
                    <label for="category" class="form-label">Category</label>
                    <select name="listing[category]" class="form-select" required>
                        <option value="" disabled selected>Select a category</option>
                        <option value="Rooms">Rooms</option>
                        <option value="Iconic_cities">Iconic city</option>
                        <option value="Mountains">Mountains</option>
                        <option value="Castles">Castles</option>
                        <option value="Amazing_pools">Pools</option>
                        <option value="Camping">Camping</option>
                        <option value="Farms">Farms</option>
                        <option value="Arctic">Arctic</option>
                        <option value="Domes">Domes</option>
                        <option value="Boats">Boats</option>
                    </select>
                    <div class="invalid-feedback">Select a category</div>
                </div>

                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input name="listing[price]" 
                            value="<%=listing.price%>"
                            class="form-control"  
                            required>
                            <div class="invalid-feedback">Add a valid Price</div>

                    </div>
            
                    <div class="mb-3 col-md-8 ">
                        <label for="country" class="form-label">Country</label>
            
                        <input name="listing[country]"
                            value="<%=listing.country%>"
                            class="form-control" 
                            type="text"
                            required>
                            <div class="invalid-feedback">Enter valid country name</div>

                    </div>

                </div>

                <div class="mb-3"> 
                    <label for="location" class="form-label">location</label>
                    <input name="listing[location]"
                        value="<%=listing.location%>"
                        class="form-control" 
                        type="text"
                        required>
                <div class="invalid-feedback">Enter valid Location</div>

                </div>


                <button class="btn btn-dark mt-3 mb-3 edit-btn">Edit</button>
            </form>
        </div>
    </div>
    <script src="/js/script.js"></script>



