<% layout('/layouts/boilerplate.ejs') -%>

    <h3>All Listings</h3>
    <!-- <form method="GET", action="/listings/new">
        <button>Add new Listing</button>
    </form> -->
    <div class="row row-cols-lg-3 row-cols-md-2  row-cols-sm-1">
        <%for(let listing of allListings){ %>
            <a href="/listings/<%=listing._id%>" class="listing-link">
        <div class="card col listing-card">
            <img src="<%= listing.image %>" 
                class="card-img-top" 
                alt="Listing Image"
                style="height: 20rem"
            />
            <div class="card-img-overlay"></div>
            <div class="card-body">
              <!-- <h5 class="card-title">Card title</h5> -->
              <p class="card-text">
                <b><%= listing.title %></b><br>
                <%= listing.description %><br>
                &#8377;<%=listing.price.toLocaleString("en-IN")%>/night<br>
              </p>
            </div>
        </div>
    </a> 
          <% } %>

    </div>


