<% layout('/layouts/boilerplate.ejs') -%>
<h3 class="mt-3"><%= country %></h3>
<div class="row row-cols-lg-3 row-cols-md-2  row-cols-sm-1 mt-3">
    <%for(let listing of allListings){ %>
        <a href="/listings/<%=listing._id%>" class="listing-link">
    <div class="card col listing-card">
        <img src="<%= listing.image.url %>" 
            class="card-img-top" 
            alt="Listing Image"
            style="height: 20rem"
        />
        <div class="card-img-overlay"></div>
        <div class="card-body">
          <p class="card-text">
            <b><%= listing.title %></b> <br>
            &#8377;<%=listing.price.toLocaleString("en-IN")%>/night
            <i class="tax-info"> &nbsp; &nbsp;+18% GST</i>
          </p>
        </div>
    </div>
 </a> 
      <% } %>

</div>