<% layout('/layouts/boilerplate.ejs') -%>


    <div class="row">
        <div class="col-8 offset-3 mt-3">
            <h3>Listing details</h3>
        </div>

        <div class="card col-6 offset-3 show-card mb-3">
            <img src="<%=listing.image%>" class="card-img-top show-img" alt="Listing_Image">
            <div class="card-body">
                <p class="card-text">
                    <b><%=listing.title%></b> <br>
                    <%=listing.description%> <br>
                    &#8377;<%=listing.price.toLocaleString("en-IN")%>/night <br>
                    <%=listing.location%> <br>
                    <%=listing.country%> <br>
                </p>
            </div>
        </div>
        
        <br>
        <div class="btns">
            <a href="/listings/<%= listing._id%>/edit" class="btn btn-dark col-1 offset-3 edit-btn">Edit</a>
            <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
                <button class="btn btn-dark offset-5" >Delete</button>
            </form>           
        </div>
    </div>


