<% layout('/layouts/boilerplate.ejs') -%>


    <div class="row">
        <div class="col-8 offset-3 mt-3">
            <h3><%=listing.title%></h3>
        </div>

        <div class="card col-6 offset-3 show-card mb-3 listing-card">
            <img src="<%=listing.image%>" class="card-img-top show-img" alt="Listing_Image">
            <div class="card-body">
                <p class="card-text">Owned by - <i><%=listing.owner.username %></i></p>
                <p> <%=listing.description%></p>
                <p> &#8377;<%=listing.price.toLocaleString("en-IN")%>/night</p>
                <p><%=listing.location%></p>
                <p> <%=listing.country%></p>
               
            </div>
        </div>
        
        <br>
        <% if(currUser && listing.owner._id.equals(currUser._id)) {%>
        <div class="btns">
            <a href="/listings/<%= listing._id%>/edit" class="btn btn-dark col-1 offset-3 edit-btn">Edit</a>
            <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
                <button class="btn btn-dark offset-5" >Delete</button>
            </form>       
        </div>
        <% } %>
        <div class="col-8 offset-3 mb-3">
            <hr>
            <% if(currUser) {%>
            <h4>Leave a Review</h4>
            <form action="/listings/<%=listing.id%>/reviews" method="POST" novalidate class="needs-validation">
                <div class="mb-3 mt-3">
                    <label for="rating" class="form-label">Rating</label>
                    <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range">
                </div>

                <div class="mb-3 mt-3">
                    <label for="comment" class="form-label">Comments</label>
                    <textarea 
                        name="review[comment]" 
                        id="comment" 
                        rows="5" 
                        cols="30" 
                        class="form-control"
                        required
                        ></textarea>
                        <div class="invalid-feedback">Please add a comment for review</div>
                </div>

                <button class="btn btn-outline-dark">Submit</button>
            </form>
            <hr>
        <% } %>

            <p><b>All Reviews</b></p>
            <div class="row">

                <% for(review of listing.reviews){ %>
                    <div class="card col-5 ms-3 mb-3">
                        <div class="card-body">
                            <h5 class="card-title">@<%= review.author.username %></h5>
                            <p class="card-text"><%=review.comment%></p>
                            <p class="card-text"><%=review.rating%> stars</p>
                            <form  method="POST" class="mb-3" action="/listings/<%=listing._id%>/reviews/<%=review._id%>?_method=DELETE">
                                <button class="btn btn-sm btn-dark">Delete</button>
                            </form>
                        </div>
                    </div>
                   
                <%} %>
            </div>



        </div>
    </div>


